# PyTorch (CUDA 12.1)
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

# Hugging Face Libraries
transformers
datasets
accelerate
huggingface_hub

# Fine-tuning Libraries
peft
trl==0.12.2

# Performance Optimization
flash-attn

# (Optional)
liger-kernel

# (Optional for logging)
wandb